<h1>Remove dogs who found homes from the shelter list!</h1>

<form method="post">
    @foreach (var dog in ViewBag.dogs)
    {
        <div class="form-group">
            <label>
                <label>@dog.DogName : </label>
                <input type="checkbox" name="dogIds" value="@dog.Id">
            </label>
        </div>
    }

    <input type="submit" value="Remove " class="btn btn-danger">

</form>