@model WebApplication2.ViewModels.AddUserViewModel;
<form asp-controller="Home" asp-action="Index" method="post">
    <div class="form-group">
        <h1>Volunteer Center</h1>
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <p>New users <a asp-controller="Home" asp-action="Add">Create Account</a></p>
        <input type="submit" value="Log in" />
       </div>
</form>