@model WebApplication2.ViewModels.AddUserViewModel;
<form asp-controller="Home" asp-action="Index" method="post">
    <div class="form-group">
        <h1>Volunteer Center</h1>
        <div class="form-group">
            <label name="login">Username: </label>
            <input />
        </div>
        <div class="form-group">
            <label name="keyWord">Password:</label>
            <input />
        </div>
        <p>New users <a asp-controller="Home" asp-action="Add">Create Account</a></p>
        <input type="submit" value="Log in" />
       </div>
</form>