<h1>Welcome Volunteers</h1>
<p>Welcome to the volunteer activity management portal. Here we track volunteer interactions with available dogs to better keep track of our animals</p>

<p>Please <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></p>