@model WebApplication2.ViewModels.AddDogViewModel;
<h1>Add New User</h1>

<form asp-controller="DogProfile" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="DogName">Dog Name</label>
        <input asp-for="DogName" />
        <span asp-validation-for="DogName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" />
        <span asp-validation-for="Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" ></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="ColorLevel">Color Level</label>
        <input asp-for="ColorLevel" />
    </div>
    <input type="submit" value="Submit" />
</form>