@model WebApplication2.Models.Dog;
<h1>@Model.DogName</h1>

@if (Model.Description != null)
{
    <h2>Dog Special Requirements:</h2>
    <p>@Model.Description</p>
}

<form asp-controller="DogProfile" asp-action="CheckOut" method="post">
    <select name="activity" id="activity">
        <option value="walk">Walk</option>
        <option value="furlough">Furlough</option>
        <option value="bathe">Bathe</option>
    </select>
    <br />
    <input type="submit" value="Check Out" />
    <input type="hidden" name="dogID" value="@Model.Id" />
</form>